@media screen and (min-width: 1200px) { 
  body {width: 960px;}
  footer span::after {content: "min-width:1200px"; padding-left: 1em; color: darkred;}
}

html {box-sizing: border-box; }
html, body, main, section, div, p {margin:0; padding:0;}

header {
	background-color: lightblue;
	text-align: center;
	margin: auto 1rem;
}

nav {
	width: 15%;
	background-color: #eaeaea;
}

aside {
	width: 15%;
	background-color: #eaeaea;

}

main {
	background-color: gainsboro;
	width: 68%;
}

h1 {
	margin: 0;
	text-align: center;
	font-size: 2em;
	color: #5d8aa8; /* Air Force Blue */
}

#body-title {
	margin: 0;
	text-align: center;
	font-size: 1.5em;
	color: #5d8aa8; /* Air Force Blue */
}

footer {
	background-color: #ece0d1;
	text-align: center;
	font-weight: bold;
}
