/* chars.css */

html {box-sizing: border-box; }
html, body, main, section, div, p {margin:0; padding:0; }
body {background-color: gainsboro; }
main {background-color: #efeff2; min-height: 23rem; }
header {background-color: lightblue;}
footer {background-color: #ece0d1; text-align: center; }
nav { display:flex; justify-content: center; }
select {display: inline-block; min-width: 30%; }

a {
    display: block;
    background-color: #d1e7ef;
    text-align: center;
    padding: 0.2rem 0.4rem;
    border: 1px solid black;
    margin: 0 0.4rem;
}
a:active, a:hover {background-color: #fdf5e6; }

#panel {
    display: grid;
    grid-template-rows: 4rem 4rem auto auto;
    grid-template-columns: repeat(3, 1fr);  
}
#char {
    background-color: #e2efe8; 
    text-align: center; font-size: 6rem;
    grid-area: 1 / 1 / 3 / 2 ;
}
#pinyin {
    min-height: 4rem;
    background-color: #ffebe0; 
    grid-area: 1 / 2 / 2 / 3 ; 
}
#trad {
    background-color: #DAE9FA;
    font-size: 3rem; text-align: center;
    grid-area: 1 / 3 / 2 / 4 ;
}
#meaning {
    min-height: 4rem;
    background-color: #f9f4e9;  
    grid-area: 2 / 2 / 3 / 4 ;
}
#btns {
    background-color: #d1e7ef ;
    grid-area: 3/1/4/4;
    padding: 0.1rem 0.4rem;
}
#show {
    background-color: #efeff2;
    font-size: 1.5rem;
    min-height: 22rem;
}

#find {margin-left: auto; float: right; }        
#find-btn {float: right; } 
.tabs {border:none; outline:none; cursor:pointer; }
#wrap {
    display: grid; 
    grid-gap: 0.1rem;
    grid: 
        "a b"
        "c c"; 
}
#pinyin-qry {
    grid-area: a;
}
#meaning-qry {
    grid-area: b;
    margin-left: auto; 
}
#output {
    grid-area: c;
    min-height: 22rem;
    background-color: #fdf5e6;
}
#sels {
    grid-area: 4/1/5/4;
    background-color: #d1e7ef ;
    padding: 0 0.4rem;
}
#meaning-sel {float:right; }

@media (min-width: 41rem) {
	body { 
		width: 22rem;
		margin:auto; 
	}
}
